.App {
  text-align: center;
}

html,
#root > div {
  /* height: 100vh;
  background-color: #ebe1e1; */
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* div {
  background-color: #ebe1e1;
} */

.nav {
  background-color: #656472;
}
