.App {
    text-align: center;
  }
  
  html, #root > div{
    height: 100vh;
    background-color: #ffffff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }
  
  div{
    background-color:#fcf6f3;
    margin: 0;
    padding: 0;
  }
  
  .nav{
    background-color:#ffffff;
  }
  
